@inherits LayoutComponentBase
@using PuzzleLab.Web.Services.State
@using PuzzleLab.Web.Components.Navbars

@inject NavigationManager NavigationManager
@inject UserStateService UserState
@using PuzzleLab.Web.Components.Ui

<div class="min-h-screen bg-gray-100 flex flex-col">
    <div class="w-full bg-white shadow-sm flex-shrink-0">
        <div class="w-full mx-auto px-16 py-4">
            <AdminNavbar HandleLogout="HandleLogout"/>
        </div>
    </div>

    <main class="flex-grow flex justify-center items-center">
        <div class="w-full mx-auto px-[15%] py-8 mb-6">
            @Body
        </div>
    </main>

    <Toast/>
</div>

@code {

    private async Task HandleLogout()
    {
        Console.WriteLine("Logout requested from Layout");
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }

    // Optional: Add authorization check for the entire layout
    // protected override async Task OnInitializedAsync()
    // {
    //     var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //     var user = authState.User;
    //     if (!user.Identity.IsAuthenticated || !user.IsInRole("Admin"))
    //     {
    //         NavigationManager.NavigateTo("/login"); // Redirect if not authenticated/authorized
    //     }
    // }
    // @inject AuthenticationStateProvider AuthenticationStateProvider
}
