@inherits LayoutComponentBase
@using PuzzleLab.Web.Components.Ui
@using PuzzleLab.Web.Services.State
@inject UserStateService UserState

<main class="min-h-screen flex items-center justify-center p-4 bg-gray-50">
    @Body
    <Toast/>
</main>

@code {

    protected override async Task OnInitializedAsync()
    {
        await UserState.InitializeAsync();
    }

}
