@inherits LayoutComponentBase
@using PuzzleLab.Web.Components.Ui
@using PuzzleLab.Web.Services.State
@inject UserStateService UserState

<div class="min-h-screen bg-gray-50 flex flex-col">

    <main class="flex-1 flex items-center px-40">
        <div class="w-full max-w-7xl mx-auto">
            @Body
        </div>
    </main>

</div>

<Toast/>

@code {

    protected override async Task OnInitializedAsync()
    {
        await UserState.InitializeAsync();
    }

}
